@charset "UTF-8";
body {
    font-family: Roboto,sans-serif,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.84615385;
    color: #313335;
    background-color: #fff;
    margin: 0;
}
#header {
    position: absolute;
    left: 0;
    right: 0;
    height: 64px;
    z-index: 1005;
    background: #fff;
    color: rgba(49,51,53,.6);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
}
.header-fixed #header {
    position: fixed;
}
.headerbar-left .header-nav {
    margin-left: 24px;
}

.header-nav {
    margin: 0 12px;
    padding-left: 0;
    list-style: none;
}
.header-nav>li:first-child {
    padding-left: 0;
}

.header-nav .header-nav-brand {
    display: inline-table;
    padding: 0;
    height: 64px;
}
.header-nav>li {
    position: relative;
    display: block;
    padding: 14px 0 14px 12px;
    float: left;
}
li {
    list-style: none;
}
.tile {
    height: 55px;
    vertical-align:middle;
}
.dropdown .list .tile .tile-icon {
    min-width: 45px;
    width: 45px;
    padding: 0;
}

.list .tile .tile-icon:first-child {
    text-align: left;
}
.list .tile .tile-content>div {
    display: table-cell;
    vertical-align: middle;
}

div.tile-icon>img {
    width:45px;
    height:45px;
}
ul.dropdown-menu {
    display: none;
    position: absolute;
    top: 55px;
    left: -10px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    min-width: 240px;
    min-height: 250px;
}

.dropdown-column {
    padding-left: 0;
    padding-right: 0;
}

.col-xs-4 {
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.btn-default.btn-flat, .btn-default.btn-icon-toggle {
    color: #96999c;
}

.btn.btn-flat {
    padding: 4.5px 7px;
}
.btn-flat, .btn-icon-toggle {
    background-color: transparent;
    font-weight: 500;
    border-color: transparent;
}
.header-nav>li>a {
    position: relative;
    display: block;
}
.header-nav-brand {
    width: 152px;
    height: 51px;
}
.header-nav-brand>img {
    height: 85%;
    padding: 5px 0;
    margin-left: -10px;
}
.headerbar-left a {
    float: left;
}

.btn {
    font-size: 14px;
    text-transform: uppercase;
}
a {
    color: inherit;
    text-decoration: none;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4.5px 14px;
    font-size: 13px;
    line-height: 1.84615385;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.multi-column-dropdown {
    list-style: none;
    padding: 0;
}
.list .tile .tile-content:last-child {
    padding-right: 16px;
}

.list .tile .tile-content {
    display: table-cell;
    padding-left: 16px;
}
.multi-column-dropdown a.tile-content {
    width: 80%;
}
.multi-column-dropdown a.tile-content:hover {
    color: #96999c;
    color: #313335;
    background-color: #e5e6e6;
    border-color: #e5e6e6;
}
.list .tile .tile-content>div {
    display: table-cell;
    vertical-align: middle;
}
.tile-icon>img {
    margin-right: 5px;
}

#base {
    overflow: hidden;
    padding-left: 240px;
    width: 100%;
    min-height: 100%;
}
#content {
    height: 100%;
    position: relative;
    width: 100%;
    left: 0;
    padding-top: 64px;
}
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#menubar .menubar-scroll-panel {
    position: relative;
    padding-top: 12px;
    z-index: 2;
    min-height: 100%;
}
.gui-controls {
    font-size: 12px;
    padding: 0;
    margin-bottom: 30px;
}
.gui-controls>li {
    position: relative;
    margin-bottom: 12px;
}

.gui-controls li {
    list-style: none;
}
.gui-controls>li>a {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 12px 0;
    font-size: 12px;
    line-height: normal;
    border-radius: 0;
    padding-left: 0;
    min-width: 64px;
    z-index: 1;
}
.nav-icon {
    width: 38px;
    height: 38px;
}
.menubar-inverse .gui-controls a.expanded .gui-icon, .menubar-inverse .gui-controls li.active .gui-icon, .menubar-inverse .gui-controls li.active .gui-icon:hover {
    background-color: #151518;
    border-color: #151518;
    color: #64b5f6;
}

.menubar-inverse .gui-controls a.expanded .gui-icon, .menubar-inverse .gui-controls li.active .gui-icon, .menubar-inverse .gui-controls li.active .gui-icon:hover {
    background-color: #fff;
    border-color: #fff;
    color: #64b5f6;
}
.gui-controls a.expanded .gui-icon, .gui-controls li.active .gui-icon, .gui-controls li.active .gui-icon:hover {
    background-color: #fff;
    border-color: #fff;
    color: #64b5f6;
}
.menubar-inverse .gui-icon {
    color: rgba(255,255,255,.65);
}
.gui-icon {
    border-radius: 0;
}
.gui-icon {
    position: absolute;
    left: 12px;
    top: 0;

    color: #535658;
    font-size: 18px;
    overflow: hidden;
    margin: 1px;

}

#menubar.menubar-inverse {
    color: rgba(255,255,255,.55);
}
#menubar {
    position: fixed;
    z-index: 1004;
    left: 0;
    top: 64px;
    bottom: 0;
    width: 240px;
    color: rgba(43, 41, 41, 0.85);
}

#menubar:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #1b1b1bea;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
}
img {
    vertical-align: middle;
}

img {
    border: 0;
}
.menubar-inverse .gui-controls li.active>a .title {
    color: #fff;
}

.gui-controls li.active>a .title {
    color: #64b5f6;
    font-weight: 500;
}
.menubar-inverse .gui-controls li .title {
    color: rgba(255,255,255,.55);
    text-shadow: 0 1px 2px #000;
}

.gui-controls>li>a .title {
    margin-left: 57px;
}
.gui-controls li .title {
    position: relative;
    left: 0;
    display: block;
    padding-left: 6px;
    color: rgba(253, 251, 251, 0.85);
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    text-shadow: none;
    -webkit-transition: all .5s cubic-bezier(0.15,.99,.18,1.01);
    -o-transition: all .5s cubic-bezier(0.15,.99,.18,1.01);
    transition: all .5s cubic-bezier(0.15,.99,.18,1.01);
}
li.active:not(.gui-folder)>a {
    background-color: #424141;
}

.content {
    min-height: 100%;
    height: auto!important;
    margin: 0 auto -140px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
div.footer {
    height: auto;
}
.footer {
    width: 100%;
    background-color: #fff;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}
.container {
    padding: 0;
}

.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}
.row {
    margin-left: -12px;
    margin-right: -12px;
}

.col-sm-3 {
    width: 25%;
}
.col-sm-4 {
    widows: 33.33%;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 12px;
    padding-right: 12px;
}
.text-primary {
    color: #64b5f6;
}
.text-primary {
    color: #64b5f6;
}

h3, h4, h5, h6 {
    font-weight: 500;
}
h4, .h4 {
    font-size: 15px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 12px;
    margin-bottom: 12px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}
div.push {
    height: 140px;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-sm-12 {
    width: 100%;
}
.equipView {
    margin-bottom: 24px;
    text-align: left;
    padding: 0 4px;
    background-color: #132221;
    border: 4px solid #ad8b4a;
    box-shadow: 0 1px 2px;
}

.column {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.equipView>li {
    display: block;
}

li.equipName {
    display: inline;
    font-size: 14px;
    color: #FA5C72;
    letter-spacing: 1px;
}
.equipView>li span.star {
    font-size: 11px;
    color: rgb(180, 180, 180);
    letter-spacing: 1px;
}

.equipView>li span {
    font-size: 13px;
    color: #8FBC8F;
    letter-spacing: 1px;
}
.right {
    float: right;
}
.equipView>li {
    display: block;
}

li.basicInfo {
    display: inline;
    font-size: 13px;
    color: #F2F2F2;
    letter-spacing: 1px;
}
li.plusInfo {
    display: inline;
    font-size: 13px;
    color: #00c848;
    letter-spacing: 1px;
}