<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>display</title>
    <style type="text/css">
    </style>
    <link rel="stylesheet" href="css/style.css">
</head>  
<body>  
    <header id="header">
        <div class="headerbar">
            <div class="headerbar-left">
                <ul class="header-nav">
                    <li class="header-nav-brand"><img src="img/logo_xsx.png" ></li>
                    <li class="hidden-xs"><a href="#" class="btn btn-flat btn-default" ng-click="checkUpdate(true)">配装器说明</a></li>
                    <!--
                    <li class="hidden-xs" style="float: left;margin-top: -5px;"><img  width="45px" height="45px" src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/mf1.png" ></li>
                    <li class="hidden-xs" style="margin-left: -10px;"><a href="#" class="btn btn-flat btn-default"><strong>三十六章</strong></a></li>-->
                    <li class="dropdown hidden-xs">
                        <a href="javascript:void(0);" name="dropdown1" class="btn btn-flat btn-default" aria-expanded="false">快速选择职业 <b class="caret"></b></a>
                        <ul class="dropdown-menu animation-expand multi-column columns-3">
                            <div class="col-xs-4 dropdown-column">
                                <ul class="multi-column-dropdown list">
                                    <li class="tile"><a class="tile-content ink-reaction" href="/gy/tg2/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/tg2.png" ></div><div class="tile-text" style="color: cornflowerblue;">玄武护身</div></a></li>
                                    <li class="tile"><a class="tile-content ink-reaction" href="/gy/ly2/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/ly2.png" ></div><div class="tile-text" style="color: cornflowerblue;">风雨不动</div></a></li>
                                    <li class="tile"><a class="tile-content ink-reaction" href="/gy/zf2/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/zf2.png" ></div><div class="tile-text" style="color: cornflowerblue;">酩酊诀</div></a></li>

                                    <li class="tile"><a class="tile-content ink-reaction" href="/ly/yf2/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/yf2.png" ></div><div class="tile-text" style="color:rgb(84, 161, 73)">香云绕</div></a></li>
                                    <li class="tile"><a class="tile-content ink-reaction" href="/ly/zy2/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/zy2.png" ></div><div class="tile-text" style="color:rgb(84, 161, 73)">圣佑血祭</div></a></li>
                                    <li class="tile"><a class="tile-content ink-reaction" href="/ly/sm2/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/sm2.png" ></div><div class="tile-text" style="color:rgb(84, 161, 73)">娲圣祝由咒</div></a></li>
                                    <li class="tile"><a class="tile-content ink-reaction" href="/ly/mf2/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/mf2.png" ></div><div class="tile-text" style="color:rgb(84, 161, 73)">洞渊书</div></a></li>
    
                                    <li class="tile"><a class="tile-content ink-reaction" href="/fz/yf1/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/yf1.png" ></div><div class="tile-text" style="color:rgb(190, 61, 87)">花非花</div></a></li>
                                    <li class="tile"><a class="tile-content ink-reaction" href="/fz/sm1/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/sm1.png" ></div><div class="tile-text" style="color:rgb(190, 61, 87)">幻灵咒</div></a></li>
                                    <li class="tile"><a class="tile-content ink-reaction" href="/fz/mf1/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/mf1.png" ></div><div class="tile-text" style="color:rgb(190, 61, 87)">三十六章</div></a></li>
                                    <li class="tile"><a class="tile-content ink-reaction" href="/fz/yj2/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/yj2.png" ></div><div class="tile-text" style="color:rgb(190, 61, 87)">神虹诀</div></a></li>
                                   
                                    <li class="tile"><a class="tile-content ink-reaction" href="/rz/zy1/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/zy1.png" ></div><div class="tile-text" style="color:rgb(190, 61, 87)">窈冥蛊咒</div></a></li>
                                    <li class="tile"><a class="tile-content ink-reaction" href="/rz/yj1/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/yj1.png" ></div><div class="tile-text" style="color:rgb(190, 61, 87)">飞星篇</div></a></li>
                                    <li class="tile"><a class="tile-content ink-reaction" href="/rz/zf1/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/zf1.png" ></div><div class="tile-text" style="color:rgb(190, 61, 87)">弹铗九问</div></a></li>
                                   
                                    <li class="tile"><a class="tile-content ink-reaction" href="/bz/ly1/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/ly1.png" ></div><div class="tile-text" style="color:rgb(190, 61, 87)">苍石金刀</div></a></li>
                                    <li class="tile"><a class="tile-content ink-reaction" href="/bz/tg1/"><div class="tile-icon"><img src="https://raw.githubusercontent.com/buth854/buth854.github.io/master/_gjicon/tg1.png" ></div><div class="tile-text" style="color:rgb(190, 61, 87)">龙城飞将</div></a></li>

                                </ul>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="headerbar-right"></div>
        </div>
    </header>
    <div id="base">
        <div id="content">
            <section style="padding:0;overflow-x:hidden;">
                <div class="section-body content" style="margin-top: 0%;">
                    <div class="row" style="margin: 0;">
                        <div class="col-sm-4 col-xs-12" style="padding-top:15px;padding-left: 24px">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="equipDetails">
                                        <div class="equipView column ng-scope" ng-if="equips[$root.focus].data.name">
                                            <li class="equipName ng-binding ng-scope"> <strong>玉琼冠·法战</strong> <span class="star ng-scope">(+0)</span></li>
                                            <span style="width: 100%;margin: 5px 0 5px 0;"></span>
                                            <div style="font-size: 12px;">
                                                <img style="display: inline;float: left;" width="45px" height="45px" src="img/z0.png">
                                                <div style="line-height: 22px;float: left;margin-left: 5px;color: rgb(196, 180, 159);">
                                                    <li class="">强化等级：<span style="color: rgb(223, 223, 223);">0/5</span></li>
                                                    <li class="">品质等级：<span style="color: rgb(223, 223, 223);">210 (+0)</span></li>
                                                </div>
                                            </div>
                                            <span style="width: 100%;margin: 10px 0 5px 0;height: 1px;background-color: #35342e;"></span>
                                            <div style="font-size: 12px;color: #AAD9C0;">
                                                <div style="line-height: 22px;float: left;margin-left: 5px;">
                                                    <li class="">防具：头饰</li>
                                                    <li class="">需求等级：通灵1层</li>
                                                    <li class="">需求职业：妙法/司命/御剑/异芳</li>
                                                    <li class="">适用专精：<span style="color: rgb(151, 150, 150);">三十六章/幻灵咒/神虹诀/</span><span style="color: #79E561;">花非花 (当前专精)</span></li>
                                                    <li class="">对应外观：<span style="color: #F85B71;">忘记她叫·啥</span> (已收集) <span style="color: rgb(151, 150, 150);">(未收集)</span></li>
                                                </div>
                                            </div>
                                            <span style="width: 100%;margin: 10px 0 5px 0;height: 1px;background-color: #35342e;"></span>
                                            <div style="font-size: 12px;color: #AAD9C0;margin-top: 8px;">
                                                <div style="line-height: 22px;float: left;margin-left: 5px;">
                                                    <li style="color: #79E561;">蕴养照影可获得照影灵气<span style="color: rgb(196, 180, 159);"> 395 </span>点</li>
                                                </div>
                                            </div>
                                            <span style="margin: 10px 0 5px 5px;color: #71655B;display: inline;">基础属性</span></span>
                                            <div style="font-size: 12px;color: rgb(223, 223, 223);">
                                                    <div style="line-height: 22px;float: left;margin-left: 5px;">
                                                        <li class="">体：70(+0)</li>
                                                        <li class="">物理防御：58.3(+0)</li>
                                                    </div>
                                                </div>
                                            <span style="margin: 10px 0 5px 5px;color: #71655B;display: inline;">品质加成</span></span>
                                            <div style="font-size: 12px;color: #79E561;">
                                                        <div style="line-height: 22px;float: left;margin-left: 5px;">
                                                            <li class="">术：24.2(+0)</li>
                                                            <li class="">专精掌握：52.8(+0)</li>
                                                            <li class="">攻击专注等级：37.7(+0)</li>
                                                        </div>
                                            </div>
                                            <span style="margin: 10px 0 5px 5px;color: #71655B;display: inline;">符咒加持</span></span>
                                            <div style="font-size: 12px;color: #9191F1;">
                                                        <div style="line-height: 22px;float: left;margin-left: 5px;">
                                                            <li class="">急速 +51</li>
                                                        </div>
                                            </div>
                                            <span style="width: 100%;margin: 10px 0 5px 0;height: 1px;background-color: #35342e;"></span>
                                            <div style="font-size: 12px;color: rgb(196, 180, 159);">
                                                    <div style="line-height: 22px;float: left;margin-left: 5px;">
                                                        <li class="">装备来源</li>
                                                        <li style="color: rgb(223, 223, 223);">贰壹零秘文商店</li>
                                                        <li style="color: rgb(223, 223, 223);">琅泉界桥-排云仙侍 (困难)</li>
                                                    </div>
                                            </div>
                                            <span style="width: 100%;margin: 5px 0 5px 0;"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="push"></div>
                </div>
                <footer>
                    <div id="footer" class="footer ng-scope" ng-controller="footerCtrl">
                        <div class="container" style="list-style:none">
                            <div class="row">
                                <div class="col-sm-3 hidden-xs">
                                    <h4 class="text-primary">关于</h4>
                                    <li><a href="#" class="ng-binding">数据库匹配游戏版本号：2.0.17.10809</a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>   
            </section>
        </div>
        <div id="menubar">
            <div class="nano has-scrollbar" style="height: 1121px;">
                <div class="nano-content" tabindex="0" style="right: -17px;">
                    <div class="menubar-scroll-panel ng-scope">
                        <ul id="main-menu" class="gui-controls"><!--active expanding-->
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">武器</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">左信物</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">中信物</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">右信物</span></a></li>
                            <li class="ng-scope active"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">玉琼冠·法战</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">上装</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">护手</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">腰带</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">下装</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">鞋子</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">项链</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">佩饰1</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">佩饰2</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/z0.png"></div><span class="title ng-binding">戒指1</span></a></li>
                            <li class="ng-scope"><a href="#"><div class="gui-icon" style="background-color: #232323;"><img class="nav-icon" src="img/zz.png"></div><span class="title ng-binding">戒指2 (破法·玄钧)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    <script>
            var but=document.getElementsByName("dropdown1");
            var div=document.getElementsByClassName("dropdown-menu");
            var temp=1; //0为显示
            but[0].onclick=function(){
              if(temp==0){ //本来是显示的，所以就隐藏咯
                div[0].style="display:none";
                temp=1; //隐藏了就把状态改变了
              }else{
                div[0].style="display:block";
                temp=0;
              }
            }
    </script>
</body>
</html>